* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: hsl(275, 100%, 97%);
    padding: 1.5rem;
    font-family: 'Work Sans';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

p {
    font-size: 0.87rem;
    color: hsl(292, 16%, 49%);
}

picture {
    display: block;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

picture img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.7rem;
}

header img {
    width: 24px;
    height: 24px;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}


.accordion-panel {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem 1.5rem 0;
    border-radius: 0.7rem;
}

.accordion {
    all: unset;
    display: block;    
}

.accordion summary {
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details > summary::after {
    content: url(./assets/images/icon-plus.svg);
}

details[open] > summary::after {
    content: url(./assets/images/icon-minus.svg);
}

.accordion-content {
    line-height: 1.5;
    margin-bottom: 1.3rem;
}

hr {
    border: 0;
    height: 1px;
    border-top: 1px solid hsl(292, 16%, 49%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 40rem) {
    .accordion-panel {
        width: 34rem;
        padding: 2.5rem 2.5rem 1rem;
    }

    h3 {
        font-size: 3.5rem;
    }
}

